<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.travel.mapper.BookingMapper">
    
    <resultMap type="com.ruoyi.travel.domain.Booking" id="BookingResult">
        <result property="id"    column="id"    />
        <result property="bookingInfoId"    column="booking_info_id"    />
        <result property="itineraryId"    column="itinerary_id"    />
        <result property="groupId"    column="group_id"    />
        <result property="bookerId"    column="booker_id"    />
        <result property="bookingCount"    column="booking_count"    />
        <result property="groupName"    column="group_name"    />
        <result property="groupLeaderName"    column="group_leader_name"    />
        <result property="groupLeaderPhone"    column="group_leader_phone"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBookingVo">
        select id, booking_info_id, itinerary_id, group_id, booker_id, booking_count, group_name, group_leader_name, group_leader_phone, create_time, create_by, update_time, update_by, remark from travel_booking
    </sql>
</mapper>